html {
	scroll-behavior: smooth;
	scroll-padding-top: 40px;
}

body {
	font-family: "Montserrat", sans-serif;
	color: var(--color-black);
	overflow-x: hidden;
	font-size: 16px;
	line-height: 160%;
}

img{
	border-radius: 30px;
}