@font-face {
  font-family: 'Evolventa';
  src: url('./../../fonts/Evolventa-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amazing_Slab_Trial';
  src: url('./../../fonts/fonnts.com-Amazing_Slab_Trial_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./../../fonts/Inter_18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mokoko';
  src: url('./../../fonts/MokokoRg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}