:root {
	--container-width: 460px;
	--container-padding: 15px;

	--color-light-gray: #FCFCFC;
	--color-gray: #F1EFEF;
	--color-black: #000;
	--color-olive: #9CBF6E;

	--br-big: 40px;
	--br-small: 20px;

	--font-evolventa: "Evolventa", sans-serif;
	--font-amazing: "Amazing_Slab_Trial", sans-serif;
	--font-inter: "Inter";
	--font-mokoko: "Mokoko", sans-serif;
}